<div class="container">
  <div class="jumbotron">
    <h1>Rails Administration</h1>      
    <p>This application is <strong>Ruby on Rails</strong> based authentication and authorized system for starting a project.</p>
  </div>

