<footer class="footer-section">
          <div class="text-center">
              <%= Time.now.year %> &copy; Rails administraition
              <a href="#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
</footer>
      