<div class="horizontal-menu navbar-collapse collapse ">
                  <ul class="nav navbar-nav">
                    <% if admin? %>
                      <li><%= link_to 'Users',users_path %></li>
                      <li><%= link_to 'Roles',roles_path %></li>
                      
                      <!--<li class="dropdown">
                          <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#">UI Kits <b class=" fa fa-angle-down"></b></a>
                          <ul class="dropdown-menu">
                              <li><a href="#">General</a></li>
                              <li><a href="#">Buttons</a></li>
                              <li><a href="#">Typography</a></li>
                              <li><a href="#">Font Awesome</a></li>
                          </ul>
                      </li>
                      <li><a href="#">Sample Menu</a></li>
                      <li class="dropdown">
                          <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#">Extra <b class=" fa fa-angle-down"></b></a>
                          <ul class="dropdown-menu">
                              <li><a href="#">Blank Page</a></li>
                              <li><a href="#">Boxed Page</a></li>
                              <li><a href="#">Profile</a></li>
                              <li><a href="#">404 Error Page</a></li>
                              <li><a href="#">500 Error Page</a></li>
                          </ul>
                      </li>-->
<% end %>
                  </ul>

</div>