<!--logo start-->
              <div class="brand ">
                  <a href="<%= admin_url %>" class="logo">
                      <%#= image_tag('logo.png') %>
                      <div class="logo">Rails administration</div>
                  </a>
              </div>
              <!--logo end-->